@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Golos+Text&family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    background-color: rgb(rgb(238, 217, 217));
    box-sizing: border-box;
    font-family: 'Montserrat';

}

html{
    scroll-behavior: smooth;
    font-family:  'Montserrat', sans-serif ;
    width: 100%;
}
.announcement-message{
    position: relative;
    background: linear-gradient( to left, rgb(10, 10, 10), rgb(219, 209, 209));
    height: 4%;
  text-align: right;

  color: white;
  font-size: 12px;
}

nav{
    width: 100%;
    position: relative;
    top: 0%;
    left: 0;
    padding: 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    background: white;
    
}

.sticky{
    position: fixed;
   box-shadow: 0 0 0 2px rgba(120, 119, 119, 0.4);
    z-index: 1;
   

}


nav h1{
    font-family: 'Khand';
}
nav ul li{
    display: inline-block;
    margin-left: 40px;
    list-style: none;
   z-index: 5;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

nav ul li a:hover{
    background: gray;
    padding: 10px;
    border-radius: 5px;
   
}

nav ul li {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

nav ul li:hover{
    background: gray;
    padding: 10px;
    border-radius: 5px;
   
}

.sub__menu-1{
    display: none;
  }

  .nav__item:hover .sub__menu-1{
    display: block;
    background: white;
    transition: 200ms;
    position: fixed;
    height: auto;
  box-shadow: 0px 2px 10px black;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  z-index: 2;
  
  }
  
  .sub__menu-1 ul{
    display: block;
    margin: 10px;
  }
  
  .sub__menu-1 ul li{
    display: block;
    
    padding: 20px;
    
    background: white;
    text-align: left;
   
  }

  .sub__menu-1 ul li a{
 color: black;
  }
a {
    cursor: pointer;
}


.disciplina_link{
  
   
    padding: 5px;
    border-radius: 5px;
    color:bisque;
}

.disciplina_link:hover{
    text-decoration: none;
   
    background-color: white;
    color: black;
    border: none;
   
}


h2{
    color: white;
    font-size: 15px;
}

h5{
    color: white;
    padding: 10px;
}
.header{
width: 100%;
height: 100vh;
position: relative;
padding: 0 5;

}

.phone{
    display: none;
}
.content{
    text-align: center;
    margin-top: 10%;
   
    
}

.text-content{
    position: relative;
    margin-top: 25%;
    padding: 3%;
}
.content h1{
   font-family: 'Khand', sans-serif;
   color: white;
   font-size: 70px;
   font-weight: lighter;
}


.backvideo{
   position:absolute ;
   right: 0;
    bottom: 0;
    z-index: -1;
    opacity:1;
    width: 100%;
    filter: brightness(50%);
}

 
.desciplina{
    width: 80%;
    margin: 5% 5% 10% 10%;
    position: relative;
    left: 0;
   
    display: flex;
    align-items: left;
    height: 50vh;
    background: white;
  border-radius: 10px;
  border: 1px solid rgba(174, 169, 169);
 
}


.desciplina .text{
    background: rgba(210, 209, 209, 0.5);
    text-align: center;
    padding: 20px;
    width: 50%;
 
    position: relative;
   
}
.desciplina .text h1{
     color: black;
     font-family: 'khand', sans-serif;
     font-size: 30px;
}

.text p{
    color:black;
    font-size: 16px;
}
.desciplina .image{
    width: 50%;
   
 
}
.desciplina .image img{
    width: 100%;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}


.disciplina{
    width: 80%;
    margin: 5% 5% 10% 10%;
    position: relative;
    left: 0;
   
    display: flex;
    align-items: left;
    height: 50vh;
    background: white;
  border-radius: 10px;

 
}

.disciplina .text{
   margin-top: 10%;
   position: relative;
   width: 50%;
}
.disciplina .text h1{
    color: black;
    font-family: 'khand', sans-serif;
    font-size: 30px;
}

.disciplina .text p{
   color:black;
   font-size: 16px;
}
.disciplina .image{
    width: 50%;
   
 
}
.disciplina .image img{
    width: 100%;
}
.media{
    background: transparent;
    display: block;
    width: 100%;
  }
  
  .media img{
  
    width: 60%;
    background: transparent;
    border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  
  }
.buttons button{
    padding: 1%;
    border-radius: 10px;
    border: none;
    width: 20%;
    cursor: pointer;
    background: black;
    border: none;
    margin: 10px;
    
}
.buttons button:hover{
 opacity: 0.6;
    
}

.buttons button a{
    color: white;
    text-decoration: none;
}



.section__1{
    top: 0;
    width: 100%;
    height: 60vh;
    background: white;
    padding-top: 5%;
  
}

.section__1 h1{
    color: black;
    position: relative;
  
}

.main_quote_content{
    width: 60%;
    background-color: white;
   
    margin-left: 20%;
    min-height: 60%;
    
    box-shadow: 4px 4px 6px rgba(164, 161, 161, 0.5);
}

.quote p{
    margin-top: 20%;
}

.person{
  
    position: relative;
    font-size: 1rem;
    color: red;
    text-transform: uppercase;
    margin-top: 5%;
  margin-left: 30%;
  text-decoration: underline;
}

.main_quote_content .text_area{
    font-size: 1.4rem;
    margin: 10%;
 
}


.main_quote_content img{   
    
    position: relative;
    margin-bottom: 10%;
    
}


.content-section{
  
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    line-height: 26px;
    border-bottom: 1px solid black ;
    
   
}

.content-section p{
    margin-bottom: 15px;
}

footer{
    background-color: black;
    height: 50vh;
    margin-bottom: 0%;

    color: black;
    align-items: center;
    justify-content: space-between;

}

 footer ul{
    
    display: flex;
   

}
footer ul li{
  
    text-decoration: none;
    list-style: none;
    padding: 20px;
    margin-top: 10%;
}
footer ul li a{
    color: white;
    text-decoration: none;
    
   
}
footer ul li a:hover{
    font-weight: bolder;
}

footer ul li a img:hover{
    width: 25px;
}

footer ul li:last-child{
    margin-left: 50%;
}

.section--hidden{
    opacity: 0;
    transform: translateY(8rem) ;
}

.copyright{
    color: white;
}

@media screen and (min-width: 300px) and (max-width: 410px) {


    body{
    width: 100%;
    color: white;
}
    .announcement-message{
        position: relative;
        background: linear-gradient( to right, rgb(10, 10, 10), rgb(219, 209, 209));
        height: 5%;
      text-align: center;
    
      color: white;
      font-size: 10px;
      width: 100%;
      top: 0;
      font-family: 'Khand';
    }
    
    .html{
         width: 100%;
    }
    nav{
        width: 100%;
        height: 10vh;
        position: relative;
        top: 0%;
        left: 0;
        padding: 20px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
    }
    
    nav h1{
        color: black;
        text-align: center;
    }
    .sticky{
        display: none;
    
    }

    .menu{
        display: block;
        background: gray;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
    .nav h1{
        font-size: 20px;
    
    }
    
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
    }
    nav ul li{
        display: block;
  
    
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 10px;
    }
    
    nav ul li a:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    nav ul li:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    
    
    
    .disciplina_link{
      
    
        padding: 5px;
        border-radius: 5px;
      
    }
    
    .disciplina_link:hover{
        text-decoration: none;
       
        background-color: white;
        color: black;
        border: none;
       
    }
    
    .desciplina p{
        color:white;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .desciplina img{
        width: 50%;
        margin-left: 25%;
    }
    h2{
        color: white;
        font-size: 15px;
    }
    
    h5{
        color: white;
        padding: 10px;
    }
    .header{
    width: 100%;
    height: 100vh;
    position: relative;
   
    margin-top: 0%;
    
    }
    
    .computer{
        display: none;
    }

    .phone{
        display: block;
    }
    .content{
        text-align: center;
        margin-top: 0%;
        height: 80vh;
        width: 100%;
        
    }

    .content h1{
        font-family: 'Khand', sans-serif;
        color: white;
        font-size: 40px;
        font-weight: lighter;
     }
    .backvideo{
        height: 100vh;
        margin-top: 10%;
    }
     
.desciplina{
    width: 90%;
    margin: 20% 20% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 80vh;
    background: white;
  border-radius: 10px;
border: none;
 
}


.desciplina .text{
    background: rgba(210, 209, 209, 0.5);
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: -2%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.desciplina .text h1{
     color: black;
     font-family: 'khand', sans-serif;
     font-size: 30px;
}

.text p{
    color:black;
    font-size: 12px;
}
.desciplina .image{
    width: 100%;

 
}
.desciplina .image img{
    width: 100%;
 position: relative;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 0px;
 border-top-right-radius: 10px;
 margin-left: 0;
}


.disciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 80vh;
    background: white;
  border-radius: 10px;

 
}

.disciplina .text{
   margin-top: 10%;
   position: relative;
   width: 100%;
   text-align: center;
}
.disciplina .text h1{
    color: black;
    font-family: 'khand', sans-serif;
    font-size: 30px;
}

.disciplina .text p{
   color:black;
   font-size: 12px;
   text-align: center;
}
.disciplina .image{
    width: 100%;
   
 
}
.disciplina .image img{
    width: 100%;
}
.media{
    background: transparent;
    display: block;
    width: 100%;
  }
  
  .media img{
  
    width: 60%;
    background: transparent;
    border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  
  }
.buttons button{
    padding: 2%;
    border-radius: 10px;
    border: none;
    width: 40%;
    cursor: pointer;
    background: black;
    border: none;
    margin: 10px;
   
    
}
.buttons button:hover{
 opacity: 0.6;
    
}

.buttons button a{
    color: white;
    text-decoration: none;
}

    
  
    
    .main_quote_content{
        width: 80%;
        background-color: white;
       
        margin-left: 10%;
        height: 40%;
        box-shadow: 4px 4px 4px rgba(164, 161, 161, 0.5);
    }
 
    .person{
      
        position: relative;
        font-size: 1rem;
        color: red;
        text-transform: uppercase;
        margin-top: 5%;
      margin-left: 30%;
      text-decoration: underline;
    }
    
    .main_quote_content .text_area{
        font-size: 1.4rem;
        margin: 10%;
     color: black;
     font-size: 14px;
     font-family: 'Montserrat', sans-serif;
    }
    
    

  
    
    .content-section p{
        margin-bottom: 15px;
    }
    
    footer{
        background-color: black;
        height: 50vh;
        margin-bottom: 0%;
    
        color: black;
        align-items: center;
        justify-content: space-between;
    
    }
    
     footer ul{
        
        display: block;

    
    }
    footer ul li{
      
        text-decoration: none;
        list-style: none;
        padding: 10px;
        margin-top: 10%;
        text-align: center;
    }
    footer ul li a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }
    
    footer ul li:last-child{
        margin-left: 0%;
        font-size: 12px;
    }
    
    .section--hidden{
        opacity: 0;
        transform: translateY(8rem) ;
    }
    
    .copyright{
        color: white;
    }
}
@media screen and (min-width: 411px) and (max-width:500px) {


    body{
    width: 100%;
    color: white;
}
    .announcement-message{
        position: relative;
        background: linear-gradient( to right, rgb(10, 10, 10), rgb(219, 209, 209));
        height: 5%;
      text-align: center;
    
      color: white;
      font-size: 12px;
      width: 100%;
      top: 0;
    }
    
    .html{
         width: 100%;
    }
    nav{
        width: 100%;
        height: 10vh;
        position: relative;
        top: 0%;
        left: 0;
        padding: 20px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
    }
    
    nav h1{
        color: black;
        text-align: center;
    }
    .sticky{
        display: none;
    
    }

    .menu{
        display: block;
        background: gray;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
    .nav h1{
        font-size: 20px;
    
    }
    
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
    }
    nav ul li{
        display: block;
  
    
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 10px;
    }
    
    nav ul li a:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    nav ul li:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    
    
    
    .disciplina_link{
      
    
        padding: 5px;
        border-radius: 5px;
      
    }
    
    .disciplina_link:hover{
        text-decoration: none;
       
        background-color: white;
        color: black;
        border: none;
       
    }
    
    .desciplina p{
        color:white;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .desciplina img{
        width: 50%;
        margin-left: 25%;
    }
    h2{
        color: white;
        font-size: 15px;
    }
    
    h5{
        color: white;
        padding: 10px;
    }
    .header{
    width: 100%;
    height: 100vh;
    position: relative;
   
    margin-top: 0%;
    
    }
    
    .computer{
        display: none;
    }

    .phone{
        display: block;
    }
    .content{
        text-align: center;
        margin-top: 0%;
        height: 80vh;
        width: 100%;
        
    }
    .content h1{
        font-family: 'Khand', sans-serif;
        color: white;
        font-size: 50px;
        font-weight: lighter;
     }
    .backvideo{
        height: 100vh;
        margin-top: 10%;
    }
     
.desciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 70vh;
    background: white;
  border-radius: 10px;
border: none;
 
}


.desciplina .text{
    background: rgba(210, 209, 209, 0.5);
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: -2%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.desciplina .text h1{
     color: black;
     font-family: 'khand', sans-serif;
     font-size: 30px;
}

.text p{
    color:black;
    font-size: 12px;
}
.desciplina .image{
    width: 100%;

 
}
.desciplina .image img{
    width: 100%;
 position: relative;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 0px;
 border-top-right-radius: 10px;
 margin-left: 0;
}


.disciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 60vh;
    background: white;
  border-radius: 10px;

 
}

.disciplina .text{
   margin-top: 10%;
   position: relative;
   width: 100%;
   text-align: center;
}
.disciplina .text h1{
    color: black;
    font-family: 'khand', sans-serif;
    font-size: 30px;
}

.disciplina .text p{
   color:black;
   font-size: 12px;
}
.disciplina .image{
    width: 100%;
   
 
}
.disciplina .image img{
    width: 100%;
}
.media{
    background: transparent;
    display: block;
    width: 100%;
  }
  
  .media img{
  
    width: 60%;
    background: transparent;
    border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  
  }
.buttons button{
    padding: 2%;
    border-radius: 10px;
    border: none;
    width: 40%;
    cursor: pointer;
    background: black;
    border: none;
    margin: 10px;
   
    
}
.buttons button:hover{
 opacity: 0.6;
    
}

.buttons button a{
    color: white;
    text-decoration: none;
}

    
  
    
    .main_quote_content{
        width: 80%;
        background-color: white;
       
        margin-left: 10%;
        height: 40%;
        box-shadow: 4px 4px 4px rgba(164, 161, 161, 0.5);
    }
 
    .person{
      
        position: relative;
        font-size: 1rem;
        color: red;
        text-transform: uppercase;
        margin-top: 5%;
      margin-left: 30%;
      text-decoration: underline;
    }
    
    .main_quote_content .text_area{
        font-size: 1.4rem;
        margin: 10%;
     color: black;
     font-size: 14px;
     font-family: 'Montserrat', sans-serif;
    }
    
    

  
    
    .content-section p{
        margin-bottom: 15px;
    }
    
    footer{
        background-color: black;
        height: 50vh;
        margin-bottom: 0%;
    
        color: black;
        align-items: center;
        justify-content: space-between;
    
    }
    
     footer ul{
        
        display: block;

    
    }
    footer ul li{
      
        text-decoration: none;
        list-style: none;
        padding: 10px;
        margin-top: 10%;
        text-align: center;
    }
    footer ul li a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }
    
    footer ul li:last-child{
        margin-left: 0%;
        font-size: 12px;
    }
    
    .section--hidden{
        opacity: 0;
        transform: translateY(8rem) ;
    }
    
    .copyright{
        color: white;
    }
}

@media screen and (min-width: 501px) and (max-width:800px) {


    body{
    width: 100%;
    color: white;
}
    .announcement-message{
        position: relative;
        background: linear-gradient( to right, rgb(10, 10, 10), rgb(219, 209, 209));
        height: 5%;
      text-align: center;
    
      color: white;
      font-size: 8px;
      width: 100%;
      top: 0;
    }
    
    .html{
         width: 100%;
    }
    nav{
        width: 100%;
        height: 10vh;
        position: relative;
        top: 0%;
        left: 0;
        padding: 20px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
    }
    
    nav h1{
        color: black;
        text-align: center;
    }
    .sticky{
        display: none;
    
    }

    .menu{
        display: block;
        background: gray;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
    .nav h1{
        font-size: 20px;
    
    }
    
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
    }
    nav ul li{
        display: block;
  
    
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 10px;
    }
    
    nav ul li a:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    nav ul li:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    
    
    
    .disciplina_link{
      
    
        padding: 5px;
        border-radius: 5px;
      
    }
    
    .disciplina_link:hover{
        text-decoration: none;
       
        background-color: white;
        color: black;
        border: none;
       
    }
    
    .desciplina p{
        color:white;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .desciplina img{
        width: 50%;
        margin-left: 25%;
    }
    h2{
        color: white;
        font-size: 15px;
    }
    
    h5{
        color: white;
        padding: 10px;
    }
    .header{
    width: 100%;
    height: 100vh;
    position: relative;
   
    margin-top: 0%;
    
    }
    
    .computer{
        display: none;
    }

    .phone{
        display: block;
    }
    .content{
        text-align: center;
        margin-top: 0%;
        height: 100vh;
        width: 100%;
        
    }
    .content h1{
        font-family: 'Khand', sans-serif;
        color: white;
        font-size: 50px;
        font-weight: lighter;
        text-align: center;
        margin: 0 0 2% 2%;
     }
    .backvideo{
        height: 100vh;
        margin-top: 10%;
        width: 100%;
    }
     
.desciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 70vh;
    background: white;
  border-radius: 10px;
border: none;
 
}


.desciplina .text{
    background: rgba(210, 209, 209, 0.5);
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: -2%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.desciplina .text h1{
     color: black;
     font-family: 'khand', sans-serif;
     font-size: 30px;
}

.text p{
    color:black;
    font-size: 16px;
}
.desciplina .image{
    width: 100%;

 
}
.desciplina .image img{
    width: 100%;
 position: relative;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 0px;
 border-top-right-radius: 10px;
 margin-left: 0;
}


.disciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 80vh;
    background: white;
  border-radius: 10px;

 
}

.disciplina .text{
   margin-top: 10%;
   position: relative;
   width: 100%;
   text-align: center;
}
.disciplina .text h1{
    color: black;
    font-family: 'khand', sans-serif;
    font-size: 30px;
}

.disciplina .text p{
   color:black;
   font-size: 16px;
}
.disciplina .image{
    width: 100%;
   
 
}
.disciplina .image img{
    width: 100%;
}
.media{
    background: transparent;
    display: block;
    width: 100%;
  }
  
  .media img{
  
    width: 60%;
    background: transparent;
    border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  
  }
.buttons button{
    padding: 2%;
    border-radius: 10px;
    border: none;
    width: 40%;
    cursor: pointer;
    background: black;
    border: none;
    margin: 10px;
   
    
}
.buttons button:hover{
 opacity: 0.6;
    
}

.buttons button a{
    color: white;
    text-decoration: none;
}

    
  
    
    .main_quote_content{
        width: 80%;
        background-color: white;
       
        margin-left: 10%;
        height: 40%;
        box-shadow: 4px 4px 4px rgba(164, 161, 161, 0.5);
    }
 
    .person{
      
        position: relative;
        font-size: 1rem;
        color: red;
        text-transform: uppercase;
        margin-top: 5%;
      margin-left: 30%;
      text-decoration: underline;
    }
    
    .main_quote_content .text_area{
        font-size: 1.4rem;
        margin: 10%;
     color: black;
     font-size: 14px;
     font-family: 'Montserrat', sans-serif;
    }
    
    

  
    
    .content-section p{
        margin-bottom: 15px;
    }
    
    footer{
        background-color: black;
        height: 50vh;
        margin-bottom: 0%;
    
        color: black;
        align-items: center;
        justify-content: space-between;
    
    }
    
     footer ul{
        
        display: block;

    
    }
    footer ul li{
      
        text-decoration: none;
        list-style: none;
        padding: 10px;
        margin-top: 10%;
        text-align: center;
    }
    footer ul li a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }
    
    footer ul li:last-child{
        margin-left: 0%;
        font-size: 12px;
    }
    
    .section--hidden{
        opacity: 0;
        transform: translateY(8rem) ;
    }
    
    .copyright{
        color: white;
    }
}

@media screen and (min-width: 801px) and (max-width:1000px) {


    body{
    width: 100%;
    color: white;
}
    .announcement-message{
        position: relative;
        background: linear-gradient( to right, rgb(10, 10, 10), rgb(219, 209, 209));
        height: 5%;
      text-align: center;
    
      color: white;
      font-size: 8px;
      width: 100%;
      top: 0;
    }
    
    .html{
         width: 100%;
    }
    nav{
        width: 100%;
        height: 10vh;
        position: relative;
        top: 0%;
        left: 0;
        padding: 20px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
    }
    
    nav h1{
        color: black;
        text-align: center;
    }
    .sticky{
        display: none;
    
    }

    .menu{
        display: block;
        background: gray;
        color: white;
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
    .nav h1{
        font-size: 20px;
    
    }
    
    nav ul{
        width: 100%;
        height: 100vh;
        position: fixed;
    }
    nav ul li{
        display: block;
  
    
    }
    
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 10px;
    }
    
    nav ul li a:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    nav ul li:hover{
        background: gray;
        padding: 10px;
        border-radius: 5px;
       
    }
    
    
    
    
    .disciplina_link{
      
    
        padding: 5px;
        border-radius: 5px;
      
    }
    
    .disciplina_link:hover{
        text-decoration: none;
       
        background-color: white;
        color: black;
        border: none;
       
    }
    
    .desciplina p{
        color:white;
        text-align: center;
        margin-top: 10px;
        font-size: 12px;
    }

    .desciplina img{
        width: 50%;
        margin-left: 25%;
    }
    h2{
        color: white;
        font-size: 15px;
    }
    
    h5{
        color: white;
        padding: 10px;
    }
    .header{
    width: 100%;
    height: 100vh;
    position: relative;
   
    margin-top: 0%;
    
    }
    
    .computer{
        display: none;
    }

    .phone{
        display: block;
    }
    .content{
        text-align: center;
        margin-top: 0%;
        height: 100vh;
        width: 100%;
        
    }
    .content h1{
        font-family: 'Khand', sans-serif;
        color: white;
        font-size: 50px;
        font-weight: lighter;
        text-align: center;
     }
    .backvideo{
        height: 100vh;
        margin-top: 10%;
        width: 100%;
    }
     
.desciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 70vh;
    background: white;
  border-radius: 10px;
border: none;
 
}


.desciplina .text{
    background: rgba(210, 209, 209, 0.5);
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: -2%;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.desciplina .text h1{
     color: black;
     font-family: 'khand', sans-serif;
     font-size: 30px;
}

.text p{
    color:black;
    font-size: 16px;
}
.desciplina .image{
    width: 100%;

 
}
.desciplina .image img{
    width: 100%;
 position: relative;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 0px;
 border-top-right-radius: 10px;
 margin-left: 0;
}


.disciplina{
    width: 90%;
    margin: 5% 5% 5% 5%;
    position: relative;
    left: 0;
   
    display: block;
    align-items: left;
    height: 70vh;
    background: white;
  border-radius: 10px;

 
}

.disciplina .text{
   margin-top: 10%;
   position: relative;
   width: 100%;
   text-align: center;
}
.disciplina .text h1{
    color: black;
    font-family: 'khand', sans-serif;
    font-size: 30px;
}

.disciplina .text p{
   color:black;
   font-size: 16px;
}
.disciplina .image{
    width: 100%;
   
 
}
.disciplina .image img{
    width: 100%;
}
.media{
    background: transparent;
    display: block;
    width: 100%;
  }
  
  .media img{
  
    width: 60%;
    background: transparent;
    border-radius: 10px;
  padding: 10px;
  margin-left: 20%;
  
  }
.buttons button{
    padding: 2%;
    border-radius: 10px;
    border: none;
    width: 40%;
    cursor: pointer;
    background: black;
    border: none;
    margin: 10px;
   
    
}
.buttons button:hover{
 opacity: 0.6;
    
}

.buttons button a{
    color: white;
    text-decoration: none;
}

    
  
    
    .main_quote_content{
        width: 80%;
        background-color: white;
       
        margin-left: 10%;
        height: 40%;
        box-shadow: 4px 4px 4px rgba(164, 161, 161, 0.5);
    }
 
    .person{
      
        position: relative;
        font-size: 1rem;
        color: red;
        text-transform: uppercase;
        margin-top: 5%;
      margin-left: 30%;
      text-decoration: underline;
    }
    
    .main_quote_content .text_area{
        font-size: 1.4rem;
        margin: 10%;
     color: black;
     font-size: 14px;
     font-family: 'Montserrat', sans-serif;
    }
    
    

  
    
    .content-section p{
        margin-bottom: 15px;
    }
    
    footer{
        background-color: black;
        height: 50vh;
        margin-bottom: 0%;
    
        color: black;
        align-items: center;
        justify-content: space-between;
    
    }
    
     footer ul{
        
        display: block;

    
    }
    footer ul li{
      
        text-decoration: none;
        list-style: none;
        padding: 10px;
        margin-top: 10%;
        text-align: center;
    }
    footer ul li a{
        color: white;
        text-decoration: none;
        font-size: 12px;
        
       
    }
    footer ul li a:hover{
        font-weight: bolder;
    }
    
    footer ul li a img:hover{
        width: 25px;
    }
    
    footer ul li:last-child{
        margin-left: 0%;
        font-size: 12px;
    }
    
    .section--hidden{
        opacity: 0;
        transform: translateY(8rem) ;
    }
    
    .copyright{
        color: white;
    }
}
